<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.mapper.MenuMapper">
    <resultMap id="rm" type="Menu">
        <id column="id1" property="id"/>
        <result column="title1" property="title"/>
        <result column="iconcls1" property="iconcls"/>
        <collection property="menu" ofType="Menu">
            <id column="id2" property="id"/>
            <result column="title2" property="title"/>
            <result column="iconcls2" property="iconcls"/>
            <result column="url2" property="url"/>
        </collection>

    </resultMap>
    <select id="queryAllMenu" resultMap="rm">
        select m1.id id1,m1.title title1,m1.iconcls iconcls1,m2.id id2,m2.title title2,m2.iconcls iconcls2,m2.url url2 from menu m1 join menu m2 on m1.id=m2.parent_id
    </select>
</mapper>
